/* Bootstrap CSS Overrides */

html {
    position: relative;
    min-height: 100%
}
body {
    background-image: url(../assets/images/concrete_seamless.png);
    margin-bottom: 50px;
}

nav {
    background-color: #ddd !important;
}

/* .navbar-brand h2 {
    color: #fff;
    background-color: #4aaaa5;
} */

.navbar-brand {
    color: #fff !important;
    background: #4aaaa5 !important;
    padding:10px 20px;
    margin: 0;
    font-weight: bold;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

h2 {
    color: pink;
    font-family: Georgia, 'Times New Roman', Times, serif;

}

/* /* h3 {
    color: pink;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background: #4aaaa5; */
} */
 
h4 {
    color: aqua !important;
    font-family: Georgia, 'Times New Roman', Times, serif !important;
    background: #4aaaa5;
}

.container {
    background: #fff;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    line-height: 50px;
    background-color: #666;
}

.footer-text {
    text-align: center;
    color: #ddd;
    font-size: .5em;
    padding-top: 5px;
    background: #666;
}
